# SwiftFormat config for Coiny iOS.
# Run: swiftformat ios

--swiftversion 5.10

# Code style
--indent 4
--commas always
--trimwhitespace always
--insertlines disabled
--removelines disabled
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--self remove
--patternlet hoist
--stripunusedargs closure-only
--operatorfunc spaced
--ranges spaced
--marktypes always
--markextensions always

# Don't enforce things that fight SwiftUI idioms
--disable redundantReturn
--disable wrapMultilineStatementBraces
